.Pedro{
    width: 700px;
    transform: rotate(90deg);
    margin-top: -270px;
    

}
.bodyPedro{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bodyPedroTxt{
   
    
    font-family: Josefin Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
  
    color: #fff;
}